.bx-auth-reg label {
	display: block;
	margin: 1em 0 2px 1px;
}

.bx-auth-reg .submit {
	display: block;
	margin-top: 1em;
}

.bx-auth-reg div.field.error label {
	color: red;
}

.bx-auth-reg div.field-captcha {
	overflow: hidden;
}

.bx-auth-reg .bx-vTable-captchaPicture {
	float: left;
}

.bx-auth-reg .bx-vTable-captchaArrow {
	float: left;
	margin: 0 12px;
	font-size: 27px;
}

.bx-auth-reg input[name="captcha_word"] {
	float: left;
	width: 120px;
	height: 30px;
	margin: 0; padding: 3px;
	font-size: 20px;
	text-align: center;
	letter-spacing: 2px;
}
