.news-list {
	list-style: none;
	padding: 0;
}

	.news-list li {
		display: block;
		overflow: hidden;
		margin-bottom: 1em;
	}

		.news-list .news-image {
			display: block;
			float: left;
			margin-right: 1em;
		}

		.news-list .news-item {
			overflow: hidden;
		}

			.news-list .news-date {
				display: block;
				color: gray;
				font-size: 11px;
				font-style: italic;
			}

a.all {
	display: block;
	text-align: right;
}